.app__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem; 
}

.app__navbar-links{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.app__navbar-links_logo{
    margin-right: 2rem;
}

.app__navbar-links_logo img{
    height: 16.02px;
    width: 62.56px;
}
.app__navbar-links_container{
    display: flex;
    flex-direction: row;
}

.app__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.app__navbar-links_container p,
.app__navbar-sign p,
.app__navbar-menu_container p{
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0rem 1rem;
}
.app__navbar-sign button,
.app__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 500;
    background: #FF4820;
    border-radius: 5px;
    font-size: 18px;
    line-height:25px;
    cursor: pointer;
    border: none;
    outline: none;
}

.signup_btn:hover {
    box-shadow: 5px 5px 1px 0px rgb(255, 247, 247);
    transition: 0.5s;
}
.Ri_btn{
    color: var(--color-white);
    font-size: 27px;
    cursor: pointer;
}

.app__navbar-menu{
    margin-left:1rem;
    display: none;
    position: relative;
}
.app__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.app__navbar-menu_container p{
    margin: 1rem 0;
}
.app__navbar-sign-mobile{
    display: none;
}
@media screen and (max-width:1050px) {
    .app__navbar-links_container{
        display: none;
    }
    .app__navbar-menu{
        display: flex;
    }
        .mobile_sign {
            display: none;
        }
}

@media screen and (max-width:768px) {
    .mobile_sign {
        display: none;
    }
}


@media screen and (max-width:700px) {
    .app__navbar {
        padding: 2rem 4rem;
    }
    .mobile_sign{
        display: none;
    }
}

@media screen and (max-width:550px) {
    .app__navbar {
        padding: 2rem;
    }
    .app__navbar-sign{
        display: none;
    }
        .mobile_sign {
            display: flex;
        }
        .app__navbar-menu_container{
            top: 20px;
        }

}

