.app__header{
    display: flex;
}

.app__header-content{
   flex: 1;
   display: flex;
   justify-content: center;
    align-items: flex-start;
   flex-direction: column; 
   margin-right: 5rem;
}
.app__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
}

.app__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}
.app__header-content_input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.app__header-content_input input{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    
    color: var(--color-white);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.app__header-content_input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background: var(--color-button);
    font-family: var(--font-family);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0rem 1rem;
}
.app__header-content_people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.app__header-content_people img {
    width: 181px;
    height: 38px;
}
.app__header-content_people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: var(--color-white);
    text-align: center;
}

.app__header-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__header-img img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1050px) {
    .app__header{
        flex-direction: column;
    }
    .app__header-content{
        margin: 0 0 3rem;
    }
}

@media screen and (max-width:650px) {
    .app__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .app__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .app__header-content_people{
        flex-direction: column;
    }
        .app__header-content_people p {
            margin: 0 0 0 0;
        }
        .app__header-content_input input,
        .app__header-content_input button {
            font-size: 16px;
            line-height: 24px;
        }
}

@media screen and (max-width:490px) {
    .app__header h1 {
            font-size: 36px;
            line-height: 48px;
        }
    
        .app__header p {
            font-size: 14px;
            line-height: 24px;
        }
                .app__header-content_input input,
                .app__header-content_input button {
                    font-size: 12px;
                    line-height: 16px;
                }
}